sphinx
huggingface_hub
sphinx_book_theme
path
langchain
seaborn
pandas
fire
hydra-core
omegaconf
streamlit
path
sentence_transformers
crfm-helm # you may have to run pip uninstall crfm-helm followed by pip install crfm-helm@git+https://github.com/stanford-crfm/helm.git@main if the crfm-helm version is not working
```